.container {
  width: 1440px;
  padding: 0 100px;
}
.class_continer{
  flex-direction: column;
  justify-content: center;
  gap: 128px;

  width: 100%;
  display: flex;
}
.continer_main_box{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
@media (max-width: 908px) {
  .container {
    width: 100%;
    padding: 0;
  }
}
