.Craft_Section_main_container {
  padding: 64px 8%;
  background-color: #f5f6f4;
}
.Craft_Section_main_topic {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  font-weight: 600;
  margin-bottom: 45px;
  color: #051d14;
}
.Craft_Section_main_card_set {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 25px 0;
  flex-direction: column;
}
.Craft_Section_main_card {
  width: 750px;
  display: flex;

  align-items: flex-start;
  justify-content: center;
  gap: 45px;
}
.Craft_Section_main_card_colum_lft {
  flex: 15%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #bcec88;
  background-color: #051d14;
}
.Craft_Section_main_card_colum_topic {
  font-size: 24px;
  color: #051d14;
  font-weight: 600;
}
.Craft_Section_main_card_colum_pera {
  color: #4b5852;
  font-weight: 400;
}
.Craft_Section_main_card_colum {
  flex: 85%;
}
