.aq_topic {
  font-weight: 600;
  font-size: 48px;
  color: #051d14;
  width: 50%;
  margin-bottom: 52px;
}
.question_card_main {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.questuin_card {
  background-color: #f5f6f4;
  border-radius: 8px;
  width: 608px;
  padding: 15px;
  margin-bottom: 10px;
}

.question_card_hed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 0 0 15px;
}

.question {
  font-size: 18px;
  font-weight: 600;
}

.question_span_btn {
  font-size: 24px;
  cursor: pointer;
  color: #063B26;
}

.answers {
  display: none; 
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.answers.show {
  display: block;
}
